---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---


<h3 class="h4">
          <a 
            href="/"
            class="block text-bg-dark hover:text-gray-700 transition duration-200"
          >Aravindraj Palani
          </a>
        </h3>